/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
}
:focus {/* remember to define focus styles! */
	outline: 0;
}
body { background: #ddd; line-height: 1; }
ol, ul { list-style: none; }
table {/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td { font-weight: normal; text-align: left; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: 0; }
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

html, body{
    height: 100%;
}


strong, b{
    font-weight: bold !important;
}

i{
    font-style: italic !important;
}

u{
    text-decoration: underline !important;
}

.clear{
    clear: both;
}

body{
    background-color: #ddd;
    color: #656253;
    font-family: Arial,Tahoma,Verdana;
    font-size: 16px;
    line-height: 20px;
}

#wrapper{
    width: 100%;
    margin: 0 auto;
    background-color: #ddd;
    position: relative;
    top: 0px;
    margin-bottom: 0px;
}

/*= Header
------------------------------------------------------------------------------*/

#header{
    margin: 0 auto;
    width: 100%;
    position: relative;
    background: #353363 center no-repeat;   
}

#header-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    min-height: 100px;
    background: no-repeat center;
}

#logo{
    position: absolute;
    top: 80px;
    right: 120px;
    color: #fff;
}

#logo-dois{
    top: 55px;
    position: relative;
}

#header-text{
    position: absolute;
    text-align: right;
    top: 50px;
    right: 20px;
    width: 500px;
    color: #333366;
    letter-spacing: 0px;
    font-size: 14px;
}

#header-text strong{
    font-size: 30px;
    color: #333366;
}


/*= Menu Principal
------------------------------------------------------------------------------*/

#main-menu{
    background: url(menu-bg.jpg);
    height: 50px;
}

#main-menu ul{
    text-align: center;
    margin: 0 auto;
    width: 1024px;
    display: table;
}

#main-menu li{
    display: block;
    float: left;
    height: 50px;
    width: 160px;
}

#main-menu a{
    text-decoration: none;
}

#main-menu span{
    display: block;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0px 1px 1px #000;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}

#main-menu li+li{
    /* ... */
}

#main-menu span:hover, #main-menu span.selected{
    color: #fff;
    background: url(menu-bg-selected.jpg) repeat-x top;
    text-shadow: 2px 2px 1px #000;
}



/*= Container
------------------------------------------------------------------------------*/

#container{
    
}

#container h1, #container h2, #container h3, #container h4{
    font-weight: bold;
    font-family: arial, verdana;
    margin-bottom: 10px;
}

#container h1{ padding-left: 0; background: 0; font-size: 22px; border-bottom: 3px solid #03931e; margin-bottom: 15px; padding-bottom: 15px; }
#container h2{ font-size: 16px; }
#container h3{ font-size: 16px; }

#container h4{ font-size: 15px; }

#container h5{ font-size: 14px; color: #ccc; font-style: italic; }

#container h6{ font-size: 11px; font-style: italic; }



/*= Conteudo
------------------------------------------------------------------------------*/

.table-img {
    background: url(bg-icon.png) no-repeat;
    float: left;
    width: 86px;
    height: 90px;
}

#content{
    width: 960px;
    margin: 0 auto;
}

#content.use-sidebar{
    float: left;
    width: 580px;
    margin-right: 20px;
    overflow: hidden;
}

#content-inner{
    padding: 20px;
}

#content-inner table{
    margin-left: 70px;
}

#content-inner h1, #content-inner h2, #content-inner h3, #content-inner h4{
    color: #03931e;
    margin-top: 20px;
    position: relative;
    top: 10px
}

#content-inner h2{ color: #686868; font-size: 16px; }
#content-inner h3{ color: #000; font-size: 16px; }
#content-inner h5, #content-inner h6{
    font-style: normal;
    color: #666;
    font-weight: normal;
}

h5+h3{ margin-top: -5px !important; }

#content-inner p{ color: #727272; padding: 10px; font-size: 14px !important; letter-spacing: 0px; }
#content-inner strong{ color: #333366 !important; letter-spacing: 0px; }
#content-inner a{ color: #333366 !important; }
#content-inner a:hover{ color: #000 !important; }



/*= Sidebar
------------------------------------------------------------------------------*/

#sidebar{
    float: left;
    width: 300px;
    overflow: hidden;
}

#sidebar-inner{
    padding: 20px;
    background: #e6e6e6 url(sidebar-bg.jpg) repeat-y left;
}


#sidebar-inner p, #content-inner p{
    padding-bottom: 5px;
}

#sidebar-inner ul, #content-inner ul{
    list-style: disc;
    padding-left: 25px;
}

#sidebar-inner a, #content-inner a{
    color: #023392;
    text-decoration: none;
    font-weight: bold;
}

#sidebar-inner a:hover, #content-inner a:hover{
    color: #0066FF;
}

#sidebar-inner h1{
    color: #666;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dashed green;
    
}

#sidebar-inner h2{
    padding-left: 0;
    color: #666;
    background: 0;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}

#sidebar-inner h3{
    padding-left: 0;
    color: #777;
    background: 0;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}


/*= Footer
------------------------------------------------------------------------------*/

#footer{
}

#footer-inner{
    background: 0px 13px no-repeat;
    width: 960px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#footer .footer-text{
    position: absolute;
    width: 400px;
    text-align: right;
    top: 70px;
    left: 400px;
    color: #333366;
    font-size: 14px;
}

#footer .footer-text strong{
    color: #333366;
    font-weight: bold;
    font-size: 30px;
}

#footer .footer-copy {
    position: absolute;
    width: 50px;
    top: 70px;
    right: 1px;
}

#footer .footer-copy a {
    display: block;
    width: 35px;
    height: 37px;
    background: url(click-logo.png) no-repeat right;
    text-decoration: none;
    text-indent: 5000px;
    overflow: hidden;
}

#footer .footer-copy a:hover{
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";

    /* IE 5-7 */
    filter: alpha(opacity=75);

    /* Netscape */
    -moz-opacity: 0.75;

    /* Safari 1.x */
    -khtml-opacity: 0.75;

    /* Good browsers */
    opacity: 0.75;
    
    color: #111;
}

#footer .footer-copy a.copy-link {
    background: none;
    text-indent: 0;
}



/* = HotSlider
------------------------------------------------------------------------------*/

.full-red .nivoSlider {
    position:relative;
    background:#fff url(loading-slider.gif) no-repeat 50% 50%;
    margin-bottom:50px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.full-red .nivoSlider img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}
.full-red .nivoSlider a {
    border:0;
    display:block;
}

.full-red .nivo-controlNav {
    position:absolute;
    right: 200px;
    bottom: 0px;
    margin-left:-40px; /* Tweak this to center bullets */
}
.full-red .nivo-controlNav a {
    display:block;
    width:26px;
    height:19px;
    background:url(bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}
.full-red .nivo-controlNav a.active {
    background-position:-27px 0px;
}

.full-red .nivo-directionNav a {
    display:block;
    width:55px;
    height:110px;
    background:url(arrows.png) no-repeat;
    text-indent:-9999px;
    border:0;
}
.full-red a.nivo-nextNav {
    background-position:-55px 0;
    right:30px;
}
.full-red a.nivo-prevNav {
    left:30px;
}

.full-red a.nivo-nextNav:hover {
    right:25px;
}

.full-red a.nivo-prevNav:hover {
    left:25px;
}

.full-red .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.full-red .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.full-red .nivo-caption a:hover {
    color:#fff;
}

.full-red .nivo-caption p{
    padding: 10px;
}

.full-red .nivo-caption b{
    left: 30px;
    font-size: 45px;
    letter-spacing: -3px;
}

.full-red .btn-more {
    position: absolute;
    margin-left: 100px;;
    bottom: 30px;
    width: 185px;
    height: 35px;
    background: url(../../domains/oxigaslorena.com/media/Imagens-Full-red/btn-more.png) no-repeat center;
}

.full-red .line-red {
    position: absolute;
    bottom: 0px;
    left: 20px;
    width: 130px;
    height: 180px;
    background: url(line-red.png) no-repeat center;
}

/* = SOCIAL FIXED
------------------------------------------------------------------------------*/

.social-fixed {
    position: fixed;
    z-index: 999999999999999;
    top: 200px;
    left: 0px;
    padding-bottom: 5px;
    background-color: #fff;
    width: 55px;
    min-height: 60px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.social-btn-face, .social-btn-googleplus, .social-btn-twitter, 
.social-btn-youtube, .social-btn-flickr, .social-btn-instagram,  
.social-btn-mail {
    position: relative;
    float: top;
    margin-left: 5px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}


.social-btn-face {
    background-image: url(social-btn-face.png);
    background-repeat: no-repeat;
}

.social-btn-googleplus {
    background-image: url(social-btn-googleplus.png);
    background-repeat: no-repeat;
}

.social-btn-twitter {
    background-image: url(social-btn-twitter.png);
    background-repeat: no-repeat;
}

.social-btn-youtube {
    background-image: url(social-btn-youtube.png);
    background-repeat: no-repeat;
}

.social-btn-flickr {
    background-image: url(social-btn-flickr.png);
    background-repeat: no-repeat;
}

.social-btn-instagram {
    background-image: url(social-btn-instagram.png);
    background-repeat: no-repeat;
}

.social-btn-mail {
    background-image: url(social-btn-mail.png);
    background-repeat: no-repeat;
}


.social-btn-face:hover, .social-btn-googleplus:hover, .social-btn-twitter:hover, 
.social-btn-youtube:hover, .social-btn-flickr:hover, .social-btn-instagram:hover,
.social-btn-mail:hover {
    width: 150px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-btn-face:hover {    
    background-color: #1c489d;
    background-image: url(social-btn-face-hover.png);
}

.social-btn-googleplus:hover {    
    background-color: #484848;
    background-image: url(social-btn-googleplus-hover.png);
}

.social-btn-twitter:hover {    
    background-color: #00aced;
    background-image: url(social-btn-twitter-hover.png);
}

.social-btn-youtube:hover {    
    background-color: #d11e14;
    background-image: url(social-btn-youtube-hover.png);
}

.social-btn-flickr:hover {    
    background-color: #ec005b;
    background-image: url(social-btn-flickr-hover.png);
}

.social-btn-instagram:hover {    
    background-color: #a26f51;
    background-image: url(social-btn-instagram-hover.png);
}

.social-btn-mail:hover {    
    background-color: #484848;
    background-image: url(social-btn-mail-hover.png);
}


/* = Simple Gallery
------------------------------------------------------------------------------*/

ul.simple-gallery li,
ul.advanced-gallery li{
    display: block;
    float: left;
    margin: 0 5px 0 0;
}

ul.simple-gallery li a,
ul.advanced-gallery li a {
    border: 2px solid #ccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: block;
    line-height: 0;
    padding: 2px;
}

ul.simple-gallery li a:hover,
ul.advanced-gallery li a:hover{
    border: 2px solid #333;
}

/* small */
#content-inner ul.simple-gallery-small,
#content-inner ul.advanced-gallery-small{
    margin-top: 10px;
}

#content-inner ul.simple-gallery-small li,
#content-inner ul.advanced-gallery-small li{
    margin-left: 13px;
    margin-bottom: 10px;
}

#sidebar-inner ul.simple-gallery-small,
#sidebar-inner ul.advanced-gallery-small{
    margin-top: 5px;
}

#sidebar-inner ul.simple-gallery-small li,
#sidebar-inner ul.advanced-gallery-small li{
    margin-left: 2px;
    margin-bottom: 5px;
}


/* medium */
#content-inner ul.simple-gallery-medium,
#content-inner ul.advanced-gallery-medium{
    margin-top: 15px;
}

#content-inner ul.simple-gallery-medium li,
#content-inner ul.advanced-gallery-medium li{
    margin-left: 15px;
    margin-bottom: 15px;
}

#sidebar-inner ul.simple-gallery-medium,
#sidebar-inner ul.advanced-gallery-medium{
    margin-top: 15px;
}

#sidebar-inner ul.simple-gallery-medium li,
#sidebar-inner ul.advanced-gallery-medium li{
    margin-left: 50px;
    margin-bottom: 15px;
}

/* large */
#content-inner ul.simple-gallery-large,
#content-inner ul.advanced-gallery-large{
    margin-top: 15px;
}

#content-inner ul.simple-gallery-large li,
#content-inner ul.advanced-gallery-large li{
    margin-bottom: 15px;
}

#sidebar-inner ul.simple-gallery-large img,
#sidebar-inner ul.advanced-gallery-large img{
    width: 250px !important;
    height: 120px !important;
}

#sidebar-inner ul.simple-gallery-large,
#sidebar-inner ul.advanced-gallery-large{
    margin-top: 15px;
}

#sidebar-inner ul.simple-gallery-large li,
#sidebar-inner ul.advanced-gallery-large li{
    margin-bottom: 15px;
}



/* = Contact Form
------------------------------------------------------------------------------*/

#content-inner .contact-form{
    
}

#content-inner .contact-form label{
    padding: 10px;
    float: left;
}

#content-inner .contact-form input, #content-inner .contact-form textarea{
    border: 1px solid #ccc;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,0.99) 1%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(1%,rgba(237,237,237,0.99)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,0.99) 1%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,0.99) 1%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,0.99) 1%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(237,237,237,0.99) 1%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.3);

    color: #666;
    
}

#content-inner .contact-form .msg_name, #content-inner .contact-form .msg_email{
    width: 250px;
}

#content-inner .contact-form .msg_name{
/*    width: 300px;*/
}

#content-inner .contact-form .msg_text{
    width: 430px;
    height: 100px;
}

#content-inner td:first-child{ padding-right: 10px;  }
#content-inner td + td{ padding-left: 10px;  }


.button{
    /*http://www.colorzilla.com/gradient-editor/*/
    background: #1d4ba9; /* Old browsers */
    background: -moz-linear-gradient(top, #a91d1d 0%, #660101 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a91d1d), color-stop(100%,#660101)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a91d1d 0%,#660101 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a91d1d 0%,#660101 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a91d1d 0%,#660101 100%); /* IE10+ */
    background: linear-gradient(top, #a91d1d 0%,#660101 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a91d1d', endColorstr='#660101',GradientType=0 ); /* IE6-9 */
}

.button:hover{
    background: #660101;    
}

#content-inner .contact-form .contact-form-submit{
    
    padding: 10px;
    
    border: 1px solid #012466;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    
    color: #fff;
    margin: 10px;
    float: left;
    margin-left: 300px;
    
    cursor: pointer;
    
    text-shadow: 0px 0px 2px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=0);
    font-size: 14px;
    
}

#content-inner .contact-form .contact-form-submit:hover{
    background: #660101; /* Old browsers */
}

#loading{
    float: left;
    margin-top: 12px;
    width: 32px;
    height: 32px;
    background: url(loading.gif) no-repeat center;
}

.map{
    border: 1px solid #ccc;
}

/* = Widget Social
------------------------------------------------------------------------------*/

div.social a, div.social span{
    display: block;
    float: left;
    width: 48px;
    height: 48px;
    cursor: pointer;
    overflow: hidden;
}

div.social a{
    margin-left: 12px;
    margin-bottom: 12px;
}

div.social span{
    text-indent: 1000px;
}

div.social a.facebook{
    background: url(social/facebook.png);
}

div.social a.twitter{
    background: url(social/twitter.png);
}

div.social a.flickr{
    background: url(social/flickr.png);
}

div.social a.youtube{
    background: url(social/youtube.png);
}

div.social a.vimeo{
    background: url(social/vimeo.png);
}

div.social a.orkut{
    background: url(social/orkut.html);
}

div.social a.rss{
    background: url(social/rss.png);
}




#wrapper{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#footer{
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

#header{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}